COMPOSE_PROJECT_NAME=honeypotharbor

# Postgres
POSTGRES_NAME=honeypotharbor
POSTGRES_ADMIN_USER=honeypot
POSTGRES_ADMIN_PASS=harbor

# Elasticsearch
ELASTIC_USER=honeypot
ELASTIC_PASSWORD=honeypotharbor

API_KEY="" # needs to be the same as in frontend/.env
SECRET_KEY="" # used for JWT generation
