COMPOSE_PROJECT_NAME=honeypotharbor

# Postgres
POSTGRES_NAME=
POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASS=

# Elasticsearch
ELASTIC_PASSWORD=

API_KEY="" # needs to be the same as in frontend/.env
SECRET_KEY="" # used for JWT generation
